<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Drawing" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Images" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.PivotGrid.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Utils" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Win" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Grid" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Navigation" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.PivotGrid" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.Printing" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.RichEdit" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.TreeList" version="24.2.3" targetFramework="net472" />
  <package id="DevExpress.Win.VerticalGrid" version="24.2.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="YamlDotNet" version="11.2.1" targetFramework="net472" />
</packages>